# Windows
Thumbs.db

# macOS
.DS_Store

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

#streamlit
.streamlit/secrets.toml

# LLMs
*.gguf

# Python
__pycache__/

# Datafiles (not to run the app)
*.csv
*.xlsx
*.pkl

# Presentation Data
df_presentations.pkl

# PyInstaller Files
dist/
build/
*.spec
__pycache__/